/.settings/*
/.target/*
/.#.gitignore
/project/target/*
/project/project/target/*
/target/scala-2.9.1/*
/target/streams/*
/logs/*
/db.h2.db
/db.trace.db
DS_Store*
/db.lock.db
/app/.DS_Store
/app/assets/.DS_Store
/public/.DS_Store
/public/javascripts/.DS_Store

.DS_Store

.DS_Store

.DS_Store
