@(issues: List[models.Issue], uris: Uris, state: IssuesOverviewState)
<div id="content" class="content">
    @if(uris.isFilterable) {
        @selectionFilter(uris.asInstanceOf[ServerSideLogicUris],state)
    }
    <div id="issues" class="issues">
        @if(state.isOpen()) {
            <form action="@(uris.getAssignIssueUri())" method="POST">
        } @if(state.isAssignedCurrentUser()) {
        <form action="@(uris.getClosingProcessUri())" method="GET">
    }
        <table id="datatable" class="table table-striped"
        data-queryString="">
            <thead>
            @if(uris.isFilterable) {
                @partialSorting(uris.asInstanceOf[ServerSideLogicUris],state)
            } else {
                <tr>
                    @if(state.isOpen() || state.isAssignedCurrentUser()) {
                        <th></th>
                    }
                    <th>Issue-ID</th>
                    <th>Issue Type</th>
                    <th>Summary</th>
                    <th>Priority</th>
                    <th>Project</th>
                    <th>Component</th>
                    <th>Reporter</th>
                    @if(!state.isOpen() || state.isAssignedCurrentUser()) {
                        <th>Assigned Person</th>
                    }
                    <th>Created</th>
                    @if(state.isClosed()) {
                        <th>Closed</th>
                    }
                </tr>
            }
            </thead>
            <tbody data-provides="rowlink" data-target="a.rowlink">
            @for(i <- issues) {
                <tr data-issueId="@i.getId">
                    @if(state.isOpen() || state.isAssignedCurrentUser()) {
                        <td class="nolink">
                        <input name="issueId" type="checkbox"
                            value="@i.getId"/>
                        </td>
                    }
                <td class="nolink">
                    <a
                    href="@(uris.getUriForIssue(i.getId))"
                    class="rowlink">
                    @i.getId
                    </a>
                </td>
                <td>@i.issueType</td>
                <td>@i.summary</td>
                <td>@i.priority</td>
                <td>@i.projectName</td>
                <td>@i.componentName</td>
                <td>@i.reporter</td>
                    @if(!state.isOpen()) {
                        <td>@i.assignedUser.name</td>
                    }
                <td>@i.openDate</td>
                    @if(state.isClosed()) {
                        <td>@i.closeDate</td>
                    }
                </tr>
            }
            </tbody>
        </table>
        @if(issues.size() != 0 && state.isOpen()) {
            <button class="btn">Assign to me</button>
        </form>
        } @if(issues.size() != 0 && state.isAssignedCurrentUser()) {
        <button class="btn">Close issue</button>
    </form>
    }
        @if(uris.isFilterable) {
            @pagination(uris.asInstanceOf[ServerSideLogicUris],state)
        }
    </div>
</div>