@(issue: models.Issue, uris: Uris)
@import controllers.Util.countLines
@import controllers.Util.countLines
<div id="contentarea" class="span10">
    <div class="content">
        <h3>Issue @issue.id</h3>
        <form class="form-horizontal"
        action="@uris.getUpdateIssueUri(issue.getId)"
        method="POST" id="putForm">
            <dl class="dl-horizontal">
                <dt>Issue-ID:</dt>
                <dd>@issue.id</dd>

                <dt>Project:</dt>
                <dd>@issue.projectName</dd>

                @if(issue.assignedUser != null) {
                    <dt>Assigned Person:</dt>
                    <dd>@issue.assignedUser.name</dd>
                }
                <dt>Created:</dt>
                <dd>@issue.openDate</dd>

                <dt>Reporter:</dt>
                <dd>@issue.reporter</dd>

                <dt>Issue Type:</dt>
                <dd>@issue.issueType</dd>

                <dt>Component:</dt>
                <dd>@issue.componentName</dd>

                <dt>Version:</dt>
                <dd>@issue.componentVersion</dd>

                @if(issue.isClosed()) {
                    <dt>Closed:</dt>
                    <dd>@issue.closeDate</dd>
                }

                <dt>Summary:</dt>
                <dd>@issue.summary</dd>
            </dl>
        <hr />

            <h4>Exception-Stacktrace</h4>
            <p> @if(issue.exceptionStackTrace != null) {
            <pre class="pre-scrollable">
            @issue.exceptionStackTrace
            </pre>
        } else {
            not available
        }
        <hr />


        <input type="hidden" value="PUT" name="_method"/>
            <h4>Additional Information</h4>
            <fieldset>
            @if(issue.arguments.size() > 0) {
                not available
            } else {
                @for(a <-
                issue.arguments) {
                    <input type="hidden"
                        value="@a.argumentId" name="argumentId"/>
                    <div class="control-group">
                        <label class="control-label">@a.argumentId</label>
                        <div class="controls">
                            <textarea form="putForm" class="input-xxlarge" name="argument"
                            rows="@countLines(a.arguments)"
                                @if(!issue.isAssignedToCurrentUser(actions.AuthenticationAction.getCurrentUserName)) {
                                    readonly
                                } > @a.arguments
                            </textarea>
                        </div>
                    </div>
                }
            }
            </fieldset>
        <hr />
            <div class="control-group">
                <label class="control-label">Comment</label>
                <div class="controls">
                    <textarea form="putForm" class="input-xxlarge" name="comment"
                    rows="@countLines(issue.comment)"
                        @if(!issue.isAssignedToCurrentUser(actions.AuthenticationAction.getCurrentUserName)) {
                            readonly
                        } > @issue.comment
                    </textarea>
                </div>
            </div>

            @if(issue.isAssignedToCurrentUser(actions.AuthenticationAction.getCurrentUserName)) {
                <div class="form-actions">
                    <button form="putForm" summary="submit" name="close"
                    class="btn btn-primary">
                        Close issue
                    </button>
                    <button form="putForm" summary="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </form>
    </div>
</div>
