@(context: Context)
<div class="well sidebar-nav">
<ul class="nav nav-list">
<li class="nav-header">Navigation</li>
<li @if(context.isStateOpen()) {
    class="active"
} @if(context.isStateAssignedCurrentUser()) {
    data-targetUriBase=" @context.getUnassignIssueUri()
    "}> <a href="@context.getOverviewUriForState(IssuesOverviewState.OPEN)">Open issues</a> </li>
    <li @if(context.isStateAssignedCurrentUser()) {
        class="active"} @if(context.isStateOpen()) {
        data-targetUriBase=" @context.getAssignIssueUri()
        "}> <a href="@context.getOverviewUriForState(IssuesOverviewState.ASSIGNED_CURRENT_USER)">
            Assigned to me
        </a> </li>
        <li
            @if(context.isStateAssignedOtherUser()) {
                class="active"} > <a href="@context.getOverviewUriForState(IssuesOverviewState.ASSIGNED_OTHERS)">
            Assigned to others
        </a>
        </li>
        <li
            @if(context.isStateClosed()) {
                class="active"} > <a href="@context.getOverviewUriForState(IssuesOverviewState.CLOSED)">
            Closed issues
        </a>
        </li>
    </ul>
    </div>