			@(uris: ServerSideLogicUris, state: IssuesOverviewState)
            <div class="pagination">
                <ul>
                @for(p <- uris.getPaginationFilter().getVisiblePages()) {
                    <li
                        @if(p.getRight().equals(uris.getPaginationFilter().getPageNumber)) {
                            class="active"
                        } > <a href="@(uris.getIssuesOverviewUriForPage(p.getRight(), state))">@p.getLeft()</a>
                    </li>
                }
                </ul>
            </div>
