@(uris: ServerSideLogicUris,state: IssuesOverviewState)

@import userselection.PartialSorting.SortableAttribute._
@import userselection.PartialSorting.SortDirection._

<tr>
    @if(state.isOpen() || state.isAssignedCurrentUser()) {
        <th></th>
    }
    <th>
        Issue-ID <a
    href="@(uris.getAllIssuesWithNewSortingUri(ID, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(ID, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
    <th>
        Issue Type <a
    href="@(uris.getAllIssuesWithNewSortingUri(ISSUE_TYPE, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(ISSUE_TYPE, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
    <th>
        Summary <a
    href="@(uris.getAllIssuesWithNewSortingUri(SUMMARY, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@uris.getAllIssuesWithNewSortingUri(SUMMARY, DESCENDING,state) )">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
    <th>
        Priority <a
    href="@( uris.getAllIssuesWithNewSortingUri(PRIORITY,ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(PRIORITY, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
    <th>
        Project <a
    href="@(uris.getAllIssuesWithNewSortingUri(PROJECT, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(PROJECT, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
    <th>
        Component <a
    href="@(uris.getAllIssuesWithNewSortingUri(COMPONENT, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(COMPONENT, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
    <th>
        Reporter <a
    href="@(uris.getAllIssuesWithNewSortingUri(REPORTER, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(REPORTER, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th> @if(!state.isOpen() || state.isAssignedCurrentUser()) {
    <th>
        Assigned Person <a
    href="@(uris.getAllIssuesWithNewSortingUri(ASSIGNED_USER, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(ASSIGNED_USER, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
}
    <th>
        Created <a
    href="@(uris.getAllIssuesWithNewSortingUri(OPEN_DATE, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(OPEN_DATE, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th> @if(state.isClosed()) {
    <th>
        Closed <a
    href="@(uris.getAllIssuesWithNewSortingUri(CLOSE_DATE, ASCENDING,state))">
        <i class="icon-chevron-up"></i>
    </a> <a
    href="@(uris.getAllIssuesWithNewSortingUri(CLOSE_DATE, DESCENDING,state))">
        <i class="icon-chevron-down"></i>
    </a>
    </th>
}
</tr>