@(uris: ServerSideLogicUris,state: IssuesOverviewState)

@import userselection.SelectionFilter._
@import userselection.SelectionFilter.FilterableAttribute._

<div class="filter">
    <form class="formular" id="filterform" method="GET"
    action="@Controller.request().path()">
        <div class="control-group">
            <div class="filter-column">
                <label >Project</label> <select class="multiselect"
            id="@PROJECT.getQueryParam()" name="@PROJECT.getQueryParam()"
            size="5" multiple
                >
                @for(p <- uris.getSelectionFilter().getAllProjects()) {
                    <option
                        @if(uris.getSelectionFilter().isSelectedProject(p)) {
                            selected
                        } > @p
                    </option>
                }
            </select>
            </div>
            <div class="filter-column">
                <label >Component</label> <select
            class="multiselect" id="@COMPONENT.getQueryParam()"
            name="@COMPONENT.getQueryParam()" size="5" multiple
                >
                @for(p <- uris.getSelectionFilter().getAllComponents()) {
                    <option
                        @if(uris.getSelectionFilter().isSelectedComponent(p)) {
                            selected
                        } > @p
                    </option>
                }
            </select>
            </div>
            <div class="filter-column">
                <label >Issue Type</label> <select
            class="multiselect" id="@ISSUE_TYPE.getQueryParam()"
            name="@ISSUE_TYPE.getQueryParam()" size="5" multiple
                >
                @for(p <- uris.getSelectionFilter().getAllIssueTypes()) {
                    <option
                        @if(uris.getSelectionFilter().isSelectedType(p)) {
                            selected
                        } > @p
                    </option>
                }
            </select>
            </div>
            <div class="filter-column">
                <label >Reporter</label> <select class="multiselect"
            id="@REPORTER.getQueryParam()" name="@REPORTER.getQueryParam()"
            size="5" multiple
                >
                @for(p <- uris.getSelectionFilter().getAllReporters()) {
                    <option
                        @if(uris.getSelectionFilter().isSelectedReporter(p)) {
                            selected
                        } > @p
                    </option>
                }
            </select>
            </div>
            @if(!state.isOpen() || state.isAssignedCurrentUser()) {
                <div class="filter-column">
                    <label >Assigned User</label> <select
                class="multiselect" id="@ASSIGENED_USER.getQueryParam()"
                name="@ASSIGENED_USER.getQueryParam()" size="5" multiple
                    >
                    @for(p <- uris.getSelectionFilter().getAllAssignedUsers()) {
                        <option
                            @if(uris.getSelectionFilter().isSelectedUser(p)) {
                                selected
                            } > @p
                        </option>
                    }
                </select>
                </div>
            }
        </div>
        <div class="control-group">
            <button type="submit" class="btn">Filter</button>
        </div>
    </form>
</div>