<script src="@routes.Assets.at("javascripts/jquery-1.8.0.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.form.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.multiselect.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.multiselect.filter.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>
<script src="@routes.Assets.at("javascripts/filter_updater.min.js")"></script>
<script src="@routes.Assets.at("javascripts/init_dom.js")"></script>
